@import url('../styles.css');

.project {
	width: 30vw;
	min-height: 30vh;
	margin: 20px auto;
	text-align: center;
	padding: 2rem;
	background-color: var(--primary-color);
	border: 1px solid var(--main-blue);
	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	transition: transform 0.3s ease-in-out;
}

.project.hovered {
	transform: scale(1.05);
}

.project-title {
	font-size: 24px;
	margin-top: 30px;
	margin-bottom: 10px;
	color: var(--header-color);
	text-align: center;
}

.project-technologies {
	font-size: 18px;
	margin-bottom: 5px;
	color: var(--main-text-color);
}

.project-icons {
	margin-top: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.project-icons > * {
	margin-right: 10px;
}

.project-links {
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
}

.project:hover .project-links {
	opacity: 1;
}

@media (max-width: 768px) {
	.project {
		width: 80vw;
		height: auto;
		padding: 10px;
		/* margin: 10px auto; */
	}

	.project-title {
		padding-top: 5vh;
	}
}

button:hover {
	background-color: var(--quaternary-color);
}

.live-button {
	margin-left: 10px;
}

.live-button:hover {
	background-color: var(--quaternary-color);
}

.project-icon {
	font-size: 28px;
	/* padding: 2rem; */
	margin: 2rem;
	color: var(--main-text-color);
}

.disabled {
	opacity: 0.5;
	cursor: not-allowed;
}

.project-info-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 999;
}

.project-info-container {
	width: 80vw;
	height: 80vh;
	background-color: var(--secondary-color);

	border-radius: 5px;
	padding: 20px;
	position: relative;
	border: 3px solid var(--main-blue);
}

.project-info-close {
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	font-weight: bold;
	font-size: 18px;
	color: var(--main-text-color);
}

.project-description {
	font-size: 16px;
	color: var(--main-text-color);
	transition: opacity 0.3s ease-in-out;
}

.project-info-overlay .project-description {
	opacity: 1;
}

.project-info-overlay:hover .project-description {
	opacity: 0;
}

@media (max-width: 480px) {
	.project {
		width: 90vw;
		height: auto;
		padding: 10px;
		margin: 10px auto;
	}
}
