@import url('../styles.css');

.projects {
	width: 100%;
	padding: 20px;
	background-color: var(--primary-color);
}

.projects-title {
	font-size: 32px;
	margin-bottom: 20px;
	text-align: center;
	color: var(--main-text-color);
}

.projects-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 20px;
}

@media (max-width: 768px) {
	.projects-list {
		flex-direction: column;
		align-items: center;
	}
}
