#about {
	width: 100%;
	background-color: var(--primary-color);
	color: var(--main-text-color);
	padding-top: 100px; 
	display: flex;
	flex-direction: column;
	align-items: center;

}

.aboutWrapper {
	padding-top: 10vh;
}

#about h3 {
	text-align: center;
	font-size: 2.5rem;
	color: var(--header-color);
}

h4 {
	font-size: 1.5rem;
}

.container {
	margin-top: 5rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	width: 90%;
	max-width: 1000px;
}

.leftSide {
	width: 100%;
	max-width: 600px;
	margin-bottom: 2rem;
}

.rightSide {
	width: 100%;
	max-width: 400px;
}

p {
	color: var(--main-text-color);
}

.about-skill-item {
	display: flex;
	align-items: center;
	margin-bottom: 1rem;
	font-size: 1.2rem;
	color: var(--main-text-color);
	width: 100%;
	max-width: 20rem;
}

.about-skill-icon {
	margin-right: 0.5rem;
	font-size: 1.5rem;
	color: var(--main-blue);
}

.skill-container {
	display: flex;
	flex-wrap: wrap;
}

@media (min-width: 768px) {
	.container {
		width: 80%;
	}

	.leftSide {
		width: 45%;
		margin-bottom: 0;
	}

	.rightSide {
		width: 45%;
		margin-left: auto;
	}
}
@media (max-width: 768px) {
	.container {
		flex-direction: column;
	}

	.leftSide {
		width: 100%;
	}

	.rightSide {
		width: 100%;
		margin-left: 0;
		margin-top: 2rem;
	}
}
