.main-page {
	min-height: 90vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	background-color: var(--primary-color);
}

.content {
	width: 100vw;
	text-align: center;
	display: flex;
	justify-content: space-between;
}
.leftContent {
	width: 60vw;
	color: var(--main-text-color);
}

h1 {
	color: var(--tertiary-color);
	font-size: 32px;
	margin-bottom: 10px;
}

h2 {
	font-size: 24px;
	margin-bottom: 20px;
}

.contact-button {
	padding: 10px 20px;
	font-size: 18px;
	border-radius: 5px;
	background-color: var(--tertiary-color);
	color: black;
	border: none;
	cursor: pointer;
}

.scroll-down-arrow {
	color: var(--main-text-color);
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	cursor: pointer;
}

.arrow {
	font-size: 32px;
}

@media (max-width: 768px) {
	h1 {
		font-size: 24px;
	}

	h2 {
		font-size: 20px;
	}

	.contact-button {
		font-size: 16px;
	}

	.scroll-down-arrow {
		bottom: 10px;
	}

	.arrow {
		font-size: 24px;
	}
}
