.skills-carousel {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	overflow: hidden;
	white-space: nowrap;
	position: relative;
	transition: transform 0.5s ease-in-out;
	background-color: var(--primary-color);
}

.carousel-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	text-align: center;
	padding: 20px;
	animation: slide-in 0.5s ease-in-out;
}

@keyframes slide-in {
	from {
		transform: translateX(-100%);
	}
	to {
		transform: translateX(0);
	}
}

.skill-icon {
	color: var(--main-text-color);
	font-size: 48px;
}

.carousel-button {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background: none;
	border: none;
	outline: none;
	color: var(--main-text-color);
	font-size: 24px;
	cursor: pointer;
	transition: color 0.3s ease-in-out;
}

.carousel-button:hover {
	color: var(--main-blue);
}

.carousel-button:first-child {
	left: 10px;
}

.carousel-button:last-child {
	right: 10px;
}
