.contactContainer {
	padding-top: 10vh;
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--primary-color);
}

.contact-header {
	margin-bottom: 20px;
	width: 100%;
}
h3 {
	width: 100%;
}
h4 {
	color: var(--main-text-color);
	font-size: 2rem;
}

.contact-section {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: var(--primary-color);
}

.contact-buttons {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 20px;
	position: relative;
}

.button .button-icon {
	position: absolute;
	top: 50%;
	left: 10px;
	transform: translateY(-50%);
	font-size: 1.8rem;
}

@keyframes icon-bounce {
	0% {
		transform: translateY(-50%);
	}
	50% {
		transform: translateY(-30%);
	}
	100% {
		transform: translateY(-50%);
	}
}

.contact-buttons .button {
	padding-left: 40px;
}

@media (max-width: 767px) {
	.contact-buttons {
		flex-direction: column;
		align-items: center;
	}

	.button {
		margin-top: 10px;
	}
}
