:root {
	--primary-color: #151515;
	--secondary-color: #212121;
	--quaternary-color: #646464;
	--main-text-color: #ffffff;
	--main-blue: #0d7377;
	--light-blue: #14ffec;
}

.button {
	margin-top: 30px;
	display: inline-block;
	padding: 10px 20px;
	font-size: 18px;
	font-weight: 700;
	text-decoration: none;
	color: var(--main-text-color);
	background-color: var(--secondary-color);
	border: none;
	border-radius: 5px;
	position: relative;
	overflow: hidden;
	transition: background-color 0.3s ease;
	border: 1px solid var(--main-blue);
	cursor: pointer;
}
.button:hover {
	background-color: var(--quaternary-color);
}

.button:hover .button-icon {
	animation: icon-bounce 0.3s ease-in-out;
}
