:root {
	--primary-color: #151515;
	--secondary-color: #212121;
	--quaternary-color: #777777;
	--header-color: #fffcfc;
	--main-text-color: #d8d8d8;
	--main-blue: #6495ed;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 10px;
}
.mainPageContainer {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	align-items: center;
}
.button {
	margin-top: 30px;
	display: inline-block;
	padding: 10px 20px;
	font-size: 18px;
	font-weight: 700;
	text-decoration: none;
	color: var(--main-blue);
	background-color: var(--primary-color);
	border: none;
	border-radius: 5px;
	position: relative;
	overflow: hidden;
	transition: background-color 0.3s ease;
	border: 1px solid var(--main-blue);
	cursor: pointer;
}
.button:hover {
	background-color: rgba(100, 149, 237, 0.3);
}

.button:hover .button-icon {
	animation: icon-bounce 0.3s ease-in-out;
}

h3 {
	margin-bottom: 7vh;
	text-align: center;
	font-size: 2.5rem;
	color: var(--header-color);
	position: relative;
}

h3:before,
h3:after {
	content: '';
	display: block;
	height: 2px;
	background: var(--main-blue);
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

h3:before {
	left: 5%;
	right: 55%;
}

h3:after {
	left: 55%;
	right: 5%;
}

@media (max-width: 768px) {
	h3:before,
	h3:after {
		width: 25%;
	}

	h3:before {
		left: 0;
		right: auto;
	}

	h3:after {
		left: auto;
		right: 0;
	}
}
