/* ... Istniejący kod CSS ... */

.info-button {
	display: inline-block;
	padding: 10px 20px;
	font-size: 18px;
	font-weight: 700;
	text-decoration: none;
	color: var(--main-text-color);
	background-color: var(--secondary-color);
	border: none;
	border-radius: 5px;
	position: absolute;
	overflow: hidden;
	transition: background-color 0.3s ease;
	border: 1px solid var(--main-text-color);
	cursor: pointer;
	margin-top: 10px;
}

.project-info {
	width: 90vw;
	height: 90vh;
	margin-top: 20px;
	padding: 10px;
	background-color: var(--secondary-color);
	color: var(--main-text-color);
	border: 1px solid #ccc;
	border-radius: 5px;
}

/* ... Istniejący kod CSS ... */
