/* ProjectInfo.css */
.project-info {
	height: 100%;
	margin-top: 20px;
	padding: 10px;
	background-color: var(--primary-color);
	color: var(--main-text-color);
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.headers {
	margin-bottom: 20px;
}

.project-info h1 {
	font-size: 3rem;
}

.project-info h2 {
	font-size: 2rem;
}

.project-info h4 {
	color: var(--main-header-color);
	margin-top: 2rem;
}

.project-info-content {
	flex: 1;
	display: flex;
	flex-direction: column;
	text-align: center;
	width: 100%;
}

.project-info-technologies {
	margin-top: 4rem;
}

.project-info-technologies-list {
	margin-top: 4rem;
	list-style: none;
	display: flex;
	/* justify-content: space-around; */
	justify-content: center;
}

.project-info-technologies-list-element {
	font-size: 1.5rem;
	border-radius: 5px;
	padding: 1rem;
	border: 2px solid var(--main-blue);
	margin: 4rem;
	margin-top: 2rem;
}

.buttons {
	display: flex;
	justify-content: space-around;
	margin-bottom: 10vh;
	width: 25%;
}

/* Responsive Styles */

@media (max-width: 768px) {
	.project-info-content {
		width: 100%;
	}

	.project-info {
		overflow-y: scroll;
		padding: 5px;
	}

	.project-info h1 {
		font-size: 2rem;
	}

	.project-info h2 {
		font-size: 1.5rem;
	}

	.project-info-content {
		margin-top: 2rem;
	}

	.project-info-technologies {
		margin-top: 2rem;
	}

	.project-info-technologies-list {
		justify-content: center;
		align-items: center;
		width: 100%;
		flex-direction: column;
	}

	.project-info-technologies-list-element {
		margin-top: 1rem;
		margin-bottom: 1rem;
		width: 65%;
		margin: 2rem;
	}

	.buttons {
		width: 100%;
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		align-items: center;
	}
}
